*{
    margin: 0;padding: 0;
}
body{
     background: url(bg.jpg) no-repeat center fixed;
     background-size: cover;/*100px 100px*/
     background-position: center;
     background-attachment: fixed;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* height: 400px;
    width: 500px; */
}
.container h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
}
#box {
     width: 100%;
     margin: 22px 0px;
     border-bottom: 2px solid purple;   /* single line bottom border */
}
#box input{
    background:none;    /* inner boxes made transparent with this/ invisible*/
    border: none;   /* border being*/
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    color:white;
    /* margin-left: 40px; */
}



#btn{
    color: black;
    cursor: pointer;
    outline: none;
    /* width: 30%; */
    padding: 10px 21px;
    border: 2px solid purple;
    margin: 12px 0;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    width: 100%;
}
#box i{
    width: 25;
    text-align: center;
}
#btn:hover{
    opacity: 0.5;
    color: purple;
    /* background-color: white; */
}
@media(max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
}
}